@{
    Layout = "_Layout";
    ViewData["Title"] = "notgrantedpassage";
}

<div class="center-screen">
    <div class="alert alert-danger">
        <h1 class="denied">Access Denied<i class="bi bi-exclamation-octagon-fill"></i></h1>
        <p>You do not have permisson to access this page.</p>
    </div>
</div>