@model UserLoginForm
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="center-screen">
    <div class="surface">

        <h1 class="create-account-title">Login</h1>

            <form asp-action="Login" asp-controller="Auth" class="form" method="post" novalidate>

		        <div class="alert alert-danger @(string.IsNullOrEmpty(ViewData["ErrorMessage"] as string) ? "hide" : "")" role="alert">
			        @ViewData["ErrorMessage"]
		        </div>

                <div class="shrink">
                    <div class="input-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-input body-regular">
                    </div>
                    <div class="input-group">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-input body-regular">
                    </div>
                </div>


                <div class="terms">
                    <input asp-for="RememberMe" type="checkbox"> <span>Remember me</span>
                </div>

                <button type="submit" class="btn btn-register-login">Log in</button>
            </form>

        <div class="account-already">
            <p>Don't have an account?</p> <a asp-controller="Auth" asp-action="Register">Sign up</a>
        </div>

    </div>
</div>
@await Html.PartialAsync("_ValidationScripts")