@model RegisterViewModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<div class="center-screen">
    <div class="surface">

        <h1 class="create-account-title">Create Account</h1>

        <form class="form" method="post" novalidate>

            <div class="input-group">
                <label asp-for="Form.FirstName" class="form-label"></label>
                <input asp-for="Form.FirstName" class="form-input" value="@Model?.Form?.FirstName">
                <span asp-validation-for="Form.FirstName"></span>
            </div>
            <div class="input-group">
                <label asp-for="Form.LastName" class="form-label"></label>
                <input asp-for="Form.LastName" class="form-input" value="@Model?.Form?.LastName">
                <span asp-validation-for="Form.LastName"></span>
            </div>
            <div class="input-group">
                <label asp-for="Form.Email" class="form-label"></label>
                <input asp-for="Form.Email" class="form-input" value="@Model?.Form?.Email">
                <span asp-validation-for="Form.Email"></span>
            </div>
            <div class="input-group">
                <label asp-for="Form.Password" class="form-label"></label>
                <input asp-for="Form.Password" class="form-input" value="@Model?.Form?.Password">
                <span asp-validation-for="Form.Password"></span>
            </div>
            <div class="input-group">
                <label asp-for="Form.ConfirmPassword" class="form-label"></label>
                <input asp-for="Form.ConfirmPassword" class="form-input" value="@Model?.Form?.ConfirmPassword">
                <span asp-validation-for="Form.ConfirmPassword"></span>
            </div>

            <div class="terms">
                <input asp-for="Form.AcceptTerms" type="checkbox"> <span>I accept</span> <a asp-action="#">Terms and Conditions</a>
				<span asp-validation-for="Form.AcceptTerms"></span>    
            </div>

            <button type="submit" class="btn btn-register-login">Create Account</button>
        </form>

        <div class="account-already">
            <p>Already have an account?</p><a asp-controller="Auth" asp-action="Login">Login</a>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ValidationScripts")