@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Register";
}

<div class="center-screen">
    <div class="surface">
        <form class="form">
            <h1 class="create-account-title">Create Account</h1>

            <div class="input-group">
                <label class="form-label">First Name</label>
                <input type="text" placeholder="e.g Homer" class="form-input body-regular">
            </div>
            <div class="input-group">
                <label class="form-label">Last Name</label>
                <input type="text" placeholder="e.g Simpsons" class="form-input body-regular">
            </div>
            <div class="input-group">
                <label class="form-label">Email</label>
                <input type="text" placeholder="e.g beerbelly@springfield.com" class="form-input body-regular">
            </div>
            <div class="input-group">
                <label class="form-label">Password</label>
                <input type="password" placeholder="Enter password" class="form-input body-regular">
            </div>
            <div class="input-group">
                <label class="form-label">Confirm Password</label>
                <input type="password" placeholder="Confirm password" class="form-input body-regular">
            </div>

            <div class="terms">
                <input type="checkbox"> <span>I accept</span> <a>Terms and Conditions</a>
            </div>

            <a class="btn btn-register-login">Create Account</a>

            <div class="flex account-already">
                <p>Already have an account?</p><a asp-controller="Auth" asp-action="Login">Login</a>
            </div>
        </form>
    </div>
</div>