@{
    Layout = "_LayoutPortal";
    ViewData["Title"] = "Dashboard";
}


<div class="flex main-title">
    <h2>@ViewData["title"]</h2>
</div>

<div class="dashboard-content">
    <div class="logo-container">
        <img src="~/images/alpha-Logo.svg" />
    </div>

</div>