@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Team Members";
}



<div class="flex main-title">
    <h2>@ViewData["title"]</h2>
    <button class="btn btn-add"><i class="bi bi-plus-lg"></i>Add Member</button>
</div>

<div class="main-content">



</div>
