@model MemberViewModel
@{
    Layout = "_LayoutPortal";
    ViewData["Title"] = "Team Members";
}

<partial name="Partials/Sections/_EditMemberForm" />

<div class="flex main-title">
    <h2>@ViewData["title"]</h2>
    <button class="btn btn-add"><i class="bi bi-plus-lg"></i>Add Member</button>
</div>

<div class="main-content-member">
    @foreach(var member in Model.Members)
    {
        @await Html.PartialAsync("Partials/Components/_Main_Member", member)  
    }
</div>
