@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /*FONTS*/
    --font: "Nunito", "sans-serif";
    --font-logo: "Comfortaa", "sans-serif";
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*SIZE*/
    --size-tablet: 768px;
    --size-desktop-m: 1200px;
    --size-desktop: 1400px;
    /*BORDERS*/
    --border100: #EBEEF2;
    --border200: #E3E5E8;
    --border300: #C6C8CC;
    --gray100: #F5F7FA;
    --gray200: #F0F1F5;
    --gray300: #E8EAED;
    --gray400: #E3E5E8;
    /*COLORS*/
    --background: #F1F3F7;
    --white: #fff;
    --accent: #2D99FF;
    --accent-dark: #2682D9;
    --accent-dimmed: #DBE9F8;
    --success: #22C55E;
    --orange: #FF9640;
    --blue: #2CD9D9;
    --green: #31D482;
    --darkGreen: #24B26B;
    --Red: #FF6640;
    --darkRed: #E94D3F;
    --heading: #1A1926;
    --bodyLight: #637085;
    --bodyDark: #28263B;
    --red-dimmed: #FFE2DB;
    --gray-dimmed: #F0F1F5;
    --transparent: #ffffff00;
    /*MISC*/
    --container-padding: 1rem;
    --transition-time: all 0.2s;
    /*VARIABLES TO CHANGE*/
    --text-color: var(--bodyDark);
    --heading-color: var(--heading);
    --border-color: var(--gray100);
    --background-color: var(--background);
    --btn-border: var(--white);
    --btn-accent-text: var(--white);
    --btn-accent-hover: var(--accent-dark);
    --btn-accent-hover-light: var(--accent-dimmed);
    --btn-accent-text-light: var(--accent);
    --btn-accent-bg: var(--accent);
    --btn-gray-text: var(--heading);
    --btn-gray-hover: var(--gray300);
    --btn-gray-bg: var(--gray100);
    --surface-color: var(--white);
    --time-bg-long: var(--gray-dimmed);
    --time-bg-short: var(--red-dimmed);
    --time-text-long: var(--heading);
    --time-text-short: var(--Red);
    --nav-link-bg: var(--bg-transparent);
}
[data-theme="dark"] {
    color-scheme: dark;
    --text-color: var(--bodyDark);
    --heading-color: var(--heading);
    --border-color: var(--gray100);
    --background-color: var(--background);

}

/*BASE*/
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    color-scheme: light;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--text-color);
    background-color: var(--background-color);
}

/* STRUCTURE */
.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;


    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}
.center-screen {
    display: grid;
    place-items: center;
    height: 100dvh;
}
.center-content {
    display: grid;
    place-items: center;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.surface {
    background-color: var(--surface-color);
    border-radius: 1rem;
    border: 1px solid var(--clr-border100);
    box-shadow: 0 0 10px #2c2b2b27;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
}
.portal {
    display: grid;
    height: 100dvh;
    grid-template-columns: minmax(auto) 1fr;
    grid-template-rows: minmax(80px, auto) 1fr;
    grid-template-areas: "logo topbar"
        "sidebar main";
}

@media(min-width: 550px) {
    .portal {
        grid-template-columns: minmax(40px, auto) 1fr;
    }
}

@media(min-width: 768px) {
    .portal {
        grid-template-columns: minmax(50px,180px) 1fr;
    }
}

@media(min-width: 1200px) {
    .portal {
        grid-template-columns: minmax(50px,270px) 1fr;
    }
}  

/* TYPOGRAPHY */
h1 {
    font-size: 2.25rem;
    color: var(--clr-heading);
    font-weight: var(--font-bold)
}
h2 {
    font-size: 2rem;
    color: var(--clr-heading);
    font-weight: var(--font-bold)
}
h3 {
    font-size: 1.75rem;
    color: var(--clr-heading);
    font-weight: var(--font-bold)
}
h4 {
    font-size: 1.5rem;
    color: var(--clr-heading);
    font-weight: var(--font-semibold)
}
h5 {
    font-size: 1.25rem;
    color: var(--clr-heading);
    font-weight: var(--font-semibold)
}
h6 {
    font-size: 1.125rem;
    color: var(--clr-heading);
    font-weight: var(--font-semibold)
}
input, button, label {
    font: inherit;
}
i {
    cursor: pointer;
}
label {
    color: var(--clr-heading);
    font-weight: 600;
}
span {
    font-weight: var(--font-regular);
}
p {
    font-weight: var(--font-semibold);
}
a {
    color: var(--accent);
    font-weight: var(--font-semibold);
    cursor: pointer;
    text-decoration: none;
    &:hover
{
    color: var(--btn-accent-hover);
}
}
li {
    list-style: none;
}

/* LINKS */
.nav-links {

}

.nav-links > .nav-link {
    font-size: 1em;
    font-family: var(--font);
    color: var(--text-color);
    background-color: var(--navlink-bg);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
    color: var(--heading-color);
    font-weight: var(--font-semibold);
}
}

.nav-links > .nav-link:hover,
.nav-links > .nav-link.active {
    color: var(--btn-accent-text-light);
    background-color: var(--btn-accent-hover-light);
    span

{
    color: var(--btn-accent-text-light);
}
}

/* BUTTONS */
.btn {
    font-size: 1em;
    border-radius: .8rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .7rem 2rem;
    box-shadow: 0 0 10px #4b4a4a18;
    transition: var(--transition-time);
}
.btn-add {
    color: var(--btn-accent-text);
    background-color: var(--btn-accent-bg);
    &:hover
{
    color: var(--btn-accent-text);
    background: var(--btn-accent-hover);
}
}
.btn-register-login {
    color: var(--btn-accent-text);
    background-color: var(--btn-accent-bg);
    width: 100%;
    &:hover
{
    color: var(--btn-accent-text);
    background: var(--btn-accent-hover);
}
}
.btn-gray {
    color: var(--btn-gray-text);
    background-color: var(--btn-gray-bg);
    &:hover
{
    color: var(--btn-accent-text);
    background: var(--btn-gray-hover);
}
}

/* FORM */
.form {
    padding: 1rem;
}

@media(min-width: 768px) {
    .form {
        padding: 1rem 6rem;
    }
}

.create-account-title {
    text-align: center;
    margin-top: 4rem;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: .3rem;
}

.form-input {
    width: 100%;
    border: 1px solid var(--border100);
    border-radius: .8rem !important;
    color: var(--text-color);
    padding: .5rem 1rem;

    &:focus
    {
        outline: none;
        box-shadow: 0 0 5px var(--accent-dark);
    }
}
.form-input::placeholder {
    color: var(--bodyLight);
    font-style: italic;
    font-size: .9rem;
}

.terms {
    position: relative;
    margin-bottom: 2rem;
}

.account-already {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 4rem;
}

 /* FORM VALIDATION */
.input-validation-error {
    border-color: var(--red-dimmed);
}
.terms .field-validation-error {
    position: absolute;
    top: 0;
    right: .1rem;
    border-radius: .8rem;
    padding: .4rem 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    color: var(--darkRed);
}
.field-validation-error {
    position: absolute;
    top: 2rem;
    right: .1rem;
    border-radius: .8rem;
    padding: .4rem 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    color: var(--darkRed);
}
.field-validation-error::before {
    content: "\F33B";
    font-family: 'bootstrap-icons';
    font-size: 1rem;
}


/* MAIN LAYOUT */
.logotype {
    grid-area: logo;
    padding: 1rem 2rem;
    border-right: 1px solid var(--border200);

    span {
        display: none;
    }
}

@media(min-width: 768px) {
    .logotype {
        span {
        display: block;
    }
}
}
.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--border200);
    padding: 1rem;

    span {
    display: none;
}
}
@media(min-width: 768px) {
    .sidebar {
        span
{
    display: block;
}
}
}

.topbar {
    grid-area: topbar;
    border-bottom: 1px solid var(--border200);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    grid-area: main;
    padding: 2rem;
}

/* SIDEBAR CONTENT */
.sidebar-image {
    font-size: 1.6rem;
    font-family: var(--font-logo);
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
        font-weight: var(--font-bold);
    }
}

/* TOPBAR CONTENT */
.searchbar {
    border-radius: .8rem;
    border: none;
    padding: .4rem;
    margin-left: .5rem;
    background-color: var(--background-color);

    &:focus
    {
        outline-color: var(--border200);
    }
}
.topbar-avatar {
    margin-left: 2rem;
}

/* MAIN CONTENT */
.main-title {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    .main-title {
        flex-direction: row;
        margin-bottom: 0;
    }
}
/* HORIZONTAL MENU */
.main-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid var(--border200);
    font-weight: var(--font-bold);
}

.main-nav-item {
    color: var(--bodyLight);
    &:hover, &:active

{
    color: var(--accent);
}
}

.main-content {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
}

/* CARD */
.main-content-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
}

/* CARD HEADER */
.main-content-header {
    display: flex;
    align-content: center;
    gap: 1rem;
}

.main-content-image {
    height: 56px;
    aspect-ratio: 1;
    img

{
    max-width: 100%;
}
}

.main-content-title p {
    color: var(--bodyLight);
    font-size: 15px;
}

.main-content-icon {
    margin-left: auto;
}

/* CARD BODY */
.main-body {
    margin-bottom: 2rem;
    p {
        font-weight: var(--font-regular);
    }
}

/* CARD FOOTER */
.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer-time {
    padding: .5rem;
    border-radius: .8rem;
    background-color: var(--time-bg-short);
    color: var(--time-text-short);
    font-size: 14px;
}

.main-footer-image * {
    height: 30px;
    aspect-ratio: 1;

    img {
        max-width: 100%;
    }
}

/*MAIN END*/