@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /*FONTS*/
    --font: "Nunito", "sans-serif";
    --font-logo: "Comfortaa", "sans-serif";
    --font-bootstrap: 'bootstrap-icons';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*SIZE*/
    --size-tablet: 768px;
    --size-desktop-m: 1200px;
    --size-desktop: 1400px;
    /*BORDERS*/

    --border1: #EBEEF2;
    --border2: #E3E5E8;
    --border3: #C6C8CC;
    --gray1: #F5F7FA;
    --gray2: #F0F1F5;
    --gray3: #E8EAED;
    --gray4: #E3E5E8;
    /*COLORS*/
    --white: #fff;
    --softBlue: #F1F3F7;
    --Blue: #2D99FF;
    --darkBlue: #2682D9;
    --darkerBlue: #2D7DCC;
    --darkestBlue: #0075e2;
    --lightBlue: #DBE9F8;
    --success: #22C55E;
    --orange: #FF9640;
    --blue: #2CD9D9;
    --yellow: #ffff59;
    --yellow-dark: #f8f805;
    --yellow-dimmed: #ffff85;
    --green: #31D482;
    --darkGreen: #24B26B;
    --Red: #df370d;
    --Red-slightlyDarker: #e6532e;
    --darkRed: #E94D3F;
    --black: #1A1926;
    --blackerThanBlack: #151517;
    --lightGrey: #637085;
    --darkGrey: #28263B;
    --darkestGrey: #202123;
    --red-dimmed: #f03f1231;
    --gray-dimmed: #F0F1F5;
    --darkblue-dimmed: #06488546;
    --grayWithTransparency: #2e2d2d8a;
    --transparent: #ffffff00;
    /*MISC*/
    --time-bg-gray: var(--gray-dimmed);
    --time-text-gray: var(--blackerThanBlack);
    --time-bg-yellow: var(--yellow-dimmed);
    --time-text-yellow: var(--blackerThanBlack);
    --time-bg-red: var(--red-dimmed);
    --time-text-red: var(--Red);
    --container-padding: 1rem;
    --transition-time: all 0.2s;
    /*VARIABLES TO CHANGE*/
    --bodyLight: var(--lightGrey);
    --bodyDark: var(--darkGrey);
    --border100: var(--border1);
    --border200: var(--border2);
    --border300: var(--border3);
    --gray100: var(--gray1);
    --gray200: var(--gray2);
    --gray300: var(--gray3);
    --gray400: var(--gray4);
    --heading-color: var(--black);
    --surface: var(--white);
    --accent: var(--Blue);
    --accent-dark: var(--darkBlue);
    --accent-darkest: var(--darkestBlue);
    --accent-dimmed: var(--lightBlue);
    --validation-border: var(--red-dimmed);
    --background-color: var(--softBlue);
    --btn-border: var(--white);
    --btn-accent-text: var(--white);
    --btn-accent-hover: var(--darkerBlue);
    --btn-accent-hover-light: var(--lightBlue);
    --btn-accent-text-light: var(--Blue);
    --btn-accent-bg: var(--Blue);
    --btn-gray-text: var(--black);
    --btn-gray-hover: var(--gray300);
    --btn-gray-bg: var(--gray200);
    --surface-color: var(--white);
    --bg-transparent: var(--transparent);
    --nav-link-bg: var(--transparent);
    --dropdown-boxshadow: #2c2b2b28;
    --modal-backdrop: var(--grayWithTransparency);
    --modal-boxshadow: var(--darkestGrey);
}
html {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
    --bodyLight: var(--lightGrey);
    --bodyDark: var(--gray300);
    --border100: var(--dropdown-boxshadow);
    --border200: var(--darkGrey);
    --border300: var(--blackerThanBlack);
    --gray100: var(--gray1);
    --gray200: var(--gray2);
    --gray300: var(--gray3);
    --gray400: var(--gray4);
    --heading-color: var(--white);
    --surface: var(--darkestGrey);
    --accent: var(--Blue);
    --accent-dark: var(--darkBlue);
    --accent-darkest: var(--darkestBlue);
    --accent-dimmed: var(--darkBlue);
    --validation-border: var(--Red-slightlyDarker);
    --background-color: var(--blackerThanBlack);
    --btn-border: var(--white);
    --btn-accent-text: var(--white);
    --btn-accent-hover: var(--darkerBlue);
    --btn-accent-hover-light: var(--darkblue-dimmed);
    --btn-accent-text-light: var(--Blue);
    --btn-accent-bg: var(--Blue);
    --btn-gray-text: var(--black);
    --btn-gray-hover: var(--black);
    --btn-gray-bg: var(--blackerThanBlack);
    --surface-color: var(--darkestGrey);
    --bg-transparent: var(--transparent);
    --modal-bg: var(--grayWithTransparency);
    --modal-surface: var(--white);
    --nav-link-bg: var(--transparent);
    --dropdown-boxshadow: #6e6d6d5b;
    --modal-backdrop: var(--grayWithTransparency);
    --modal-boxshadow: var(--darkBlue);
}

/*BASE*/
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    color-scheme: light;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--bodyDark);
    background-color: var(--background-color);
}

/* STRUCTURE */
.center-screen {
    display: grid;
    place-items: center;
    height: 100dvh;
}
.center-content {
    display: grid;
    place-items: center;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.surface {
    background-color: var(--surface);
    border-radius: 1rem;
    border: 1px solid var(--border100);
    box-shadow: 0 0 10px #2c2b2b27;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
}
.portal {
    display: grid;
    height: 100dvh;
    grid-template-columns: minmax(auto) 1fr;
    grid-template-rows: minmax(80px, auto) 1fr;
    grid-template-areas: "logo topbar"
        "sidebar main";
}

@media(min-width: 550px) {
    .portal {
        grid-template-columns: minmax(40px, auto) 1fr;
    }
}
@media(min-width: 768px) {
    .portal {
        grid-template-columns: minmax(50px,180px) 1fr;
    }
}
@media(min-width: 1200px) {
    .portal {
        grid-template-columns: minmax(50px,270px) 1fr;
    }
}  

/* TYPOGRAPHY */
h1 {
    font-size: 2.25rem;
    color: var(--heading-color);
    font-weight: var(--font-bold)
}
h2 {
    font-size: 2rem;
    color: var(--heading-color);
    font-weight: var(--font-bold)
}
h3 {
    font-size: 1.75rem;
    color: var(--heading-color);
    font-weight: var(--font-bold)
}
h4 {
    font-size: 1.5rem;
    color: var(--heading-color);
    font-weight: var(--font-semibold)
}
h5 {
    font-size: 1.25rem;
    color: var(--heading-color);
    font-weight: var(--font-semibold)
}
h6 {
    font-size: 1.125rem;
    color: var(--heading-color);
    font-weight: var(--font-semibold)
}
input, button, label {
    color: var(--bodyDark);
    font: inherit;
}
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px var(--transparent) inset;
        -webkit-text-fill-color: var(--bodyDark);
        transition: background-color 5000s ease-in-out 0s; 
    }
i {
    background-color: var(--bg-transparent);
}
label {
    color: var(--heading-color);
    font-weight: 600;
}
span {
    font-weight: var(--font-regular);
}
.text-line {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
    color: var(--bodyLight);
}
}
p {
    font-weight: var(--font-semibold);
}
a {
    color: var(--accent);
    font-weight: var(--font-semibold);
    cursor: pointer;
    text-decoration: none;
    &:hover
{
    color: var(--btn-accent-hover);
}
}
li {
    list-style: none;
}
.text-line::before,
.text-line::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--border100);
    margin: 1rem;
}
.divider {
    border-top: 1px solid var(--border200);
}
.divider-verticle:after {
    content: "";
    border-right: 1px solid var(--border200);

}
.denied {
    display: flex;
    align-items: center;
    justify-content: space-between;


    i {
          color: var(--Red);
      }
}
textarea {
    resize: none;
}


/* LINKS */
.nav-links {

}

.nav-links > .nav-link {
    font-size: 1em;
    font-family: var(--font);
    color: var(--bodyDark);
    background-color: var(--navlink-bg);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
    color: var(--heading-color);
    font-weight: var(--font-semibold);
}
}

.nav-links > .nav-link:hover,
.nav-links > .nav-link.active {
    color: var(--btn-accent-text-light);
    background-color: var(--btn-accent-hover-light);
    span {
    color: var(--btn-accent-text-light);
}
}

/* BUTTONS */
/* For future self: no padding on .btn */
.btn {
    font-size: 1em;
    font-family: var(--font);
    font-weight: var(--font-medium);
    border-radius: .8rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .7rem 2rem;
    box-shadow: 0 0 10px #4b4a4a18;
    transition: var(--transition-time);
}
.btn-add {
    color: var(--btn-accent-text);
    background-color: var(--btn-accent-bg);
    &:hover
{
    color: var(--btn-accent-text);
    background: var(--btn-accent-hover);
}
}
.btn-register-login {
    color: var(--btn-accent-text);
    background-color: var(--btn-accent-bg);
    margin-top: 2rem;
    width: 100%;
    &:hover
{
    color: var(--btn-accent-text);
    background: var(--btn-accent-hover);
}
}
.btn-external-login {
    width: 100%;
    color: var(--heading-color);
    font-weight: var(--font-medium);
    background-color: var(--btn-gray-bg);
    position: relative;
    margin-bottom: 2rem;

    img {
    position: absolute;
    left: 1rem;
}
&:hover {
    color: var(--heading-color);
    font-weight: var(--font-bold);
    background: var(--btn-gray-hover);
}
}
.btn-delete {
    color: var(--white);
    background-color: var(--Red);
    width: 100%;
    &:hover {
    color: var(--white);
    background: var(--Red-slightlyDarker);
}
}
.btn-gray {
    color: var(--heading-color);
    background-color: var(--btn-gray-bg);
    font-weight: var(--font-bold);
    &:hover
{
    color: var(--heading-color);
    background: var(--btn-gray-hover);
    font-weight: var(--font-extrabold);
}
}
.btn-dropdown {
    background-color: var(--bg-transparent);
    position: relative;
    border: none;
    cursor: pointer;
    transition: var(--transition-time);
    margin-right: .5rem;

    &:hover
{
    color: var(--accent);
}
}
.btn-dropdown > .red-dot {
    position: absolute;
    background-color: var(--darkRed);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: -2px;
    right: -2px;
    border: 1px solid var(--white);
}
.btn-exit {
    border: none;
    background: var(--transparent);
    color: var(--bodyLight);
    font-size: 2em;
    margin-left: auto;
    &:hover
{
    color: var(--accent-dark);
}

}
.btn-search {
    border: none;
    background: none;
    &:hover{
    color: var(--accent-dark);
}
}
.btn-toggle-switch {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}
.btn-toggle-switch .label {
    display: none;
    font-weight: var(--font-semibold);
    color: var(--border200);
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--border300);
    transition: var(--transition-time);
}
.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: var(--white);
    transition: 0.4s;
}
    /* Background color when checked */
.toggle-switch input:checked + .slider {
    background-color: var(--border300);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--gray200);
}
    /* Dot color when checked */
.toggle-switch input:checked + .slider::before {
    transform: translateX(13px);
    background-color: var(--accent-darkest);
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round::before {
    border-radius: 50%;
}

/* FORM */
.form {
    padding: 1rem;
}
@media(min-width: 768px) {
    .form {
        padding: 1rem 6rem;
    }
}
.create-account-title {
    text-align: center;
    margin-top: 4rem;
}
/* WhatYouSeeIsWhatYouGet */
#FormData_ProjectDescription {
    display: none;
}
#UpdateFormData_ProjectDescription {
    display: none;
}

.wysiwyg-editor {
    width: 100%;
    font-size: 1em;
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--bodyDark);
    background-color: var(--surface-color);

    border: none !important;
    border-radius: .8rem;
    min-height: 150px;
    transition: var(--transition-time);
    z-index: 0;
    outline: none;
}
.wysiwyg-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none !important;
    border-top: 1px solid var(--border100) !important;
    border-radius: 0 0 .8rem .8rem;
    color: var(--bodyDark);
    background-color: var(--transparent);
}

.ql-editor {
    width: 100%;
    min-height: 150px;
    background-color: var(--surface);
    border: 1px solid var(--border100);
    padding: .3rem 1rem;
    border-radius: .8rem;

    p {
    color: var(--bodyDark);
    font-weight: var(--font-regular);
}
}

    .ql-editor:focus {
        outline: none;
        box-shadow: 0 0 5px var(--accent-dark);
    }
/* WhatYouSeeIsWhatYouGet End */

.input-group {
    width: 100%;
    position: relative;
    margin-bottom: .5rem;
}

.input-group .dollar-sign {
    position: absolute;
    top: 2em;
    left: .5rem;
}

.input-group .dollar {
    padding-left: 2rem;
}
.form-label {
    display: block;
    font-size: .85em;
    margin-bottom: .3rem;
    width: 100%;
    
}
.form-input {
    width: 100%;
    font-size: 1em;
    border: 1px solid var(--border100);
    background-color: var(--transparent);
    border-radius: .8rem !important;
    color: var(--bodyDark);
    padding: .3rem 1rem;

    &:focus
    {
        outline: none;
        box-shadow: 0 0 5px var(--accent-dark);
    }
}
.form-date {
    display: flex;
    gap: 1rem;

    @media(width > 1440px) {
        gap: 2rem
    }
}
.form-input::placeholder,
.form-tag-input::placeholder,
.searchbar::placeholder,
.ql-editor.ql-blank::before {
    color: var(--bodyLight);
    font-style: inherit;
    font-size: .9em;
}
.form-tag-select.focused,
.search-results.focused {
    box-shadow: 0 0 5px var(--accent-dimmed);
}

.form-tag-select {
    position: relative;

}
.form-tag-select.form-input {
    
}
.form-tag-select label,
.form-tag-select i {
    cursor: pointer;
    position: absolute;
    font-size: 1em;
    right: 1rem;
    top: 5px;
}
.form-tag-input {
    font-size: 1em;
    outline: none;
    border: none;

    background-color: var(--surface);
}
.search-results {
    background-color: var(--surface);
    border: 1px solid var(--border100);
    border-top: none;
    border-radius: 0 0 .8rem .8rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
}
.search-item {
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: .8em;
    display: flex;
    align-items: center;
    gap: .5rem;
}
    .search-item:hover {
        background-color: var(--accent-dimmed);
        border-radius: .8rem;
    }
    .search-item.active {
        background-color: var(--accent-dimmed);
        border-radius: .8rem;
    }

.user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent-dimmed);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: var(--font-bold);
    color: var(--white);
}
.user-tag, .tag {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--border200);
    font-size: .8em;
    padding: .3rem .5rem;
    border-radius: .8rem;
    color: var(--body-dark);


}
span.btn-remove {
    cursor: pointer;
}
span.btn-remove:hover {
    color: var(--accent-dark);
}
.terms {
    margin-top: 1em;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.account-already {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 4rem;
}

#cookieConsentForm .modal-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.cookie-options {

}
.cookie-option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
              color: var(--accent-dark);
          }
    p {
        margin-bottom: .5rem;
    }
}

/* Image Container */
.image-previewer {
    position: relative;
    font-size: .9em;
    border: 2px dashed var(--border100);
    height: 125px;
    width: 125px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

    .image-previewer::after {
        content: "\F220";
        font-size: .9em;
        font-family: var(--font-bootstrap);
        background-color: var(--grayWithTransparency);
        color: var(--gray200);
        padding: .6rem;
        border-radius: 50%;
        bottom: 0;
    }

    .image-previewer.selected::after {
        content: "\F4C9";
        font-size: .9em;
        position: absolute;
        bottom: 5px;
    }

    .image-previewer.circle {
        border-radius: 50%;
    }

    .image-previewer.square {
        border-radius: 2rem;
    }

.image-preview {

}

 /* Form Validation */
.input-validation-error {
    border-color: var(--validation-border);
}
.terms .field-validation-error {
    position: absolute;
    top: 0;
    right: .1rem;
    border-radius: .8rem;
    padding: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    color: var(--darkRed);
}
.field-validation-error {
    position: absolute;
    top: 1.6rem;
    right: .1rem;
    border-radius: .8rem;
    padding: .4rem 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    color: var(--darkRed);
}
.field-validation-error::before {
    content: "\F33B";
    font-family: var(--font-bootstrap);
    font-size: 1rem;
}
.date-field .field-validation-error {
    top: 3.5rem;
    right: -.7rem;
}
.description-field .field-validation-error {
    top: 1.5rem;
}
/* MODAL */
.modal {
    display: none;
    justify-content: center;
    align-items: center;

    background-color: var(--modal-backdrop);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal .modal-content {
    margin: auto;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 2px 4px 10px var(--modal-boxshadow);
    padding: 2em;
    border: none;
}
.modal .modal-content .modal-header {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
}
.hide {
    display: none;
    visibility: hidden;
}
.shrink {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;


    @media(width > 1440px){
        grid-template-columns: auto;
        column-gap: 2rem;
    }
}
.shrink-only {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}


/* MAIN LAYOUT */

/* modal section */
#cookieModal .modal-content {
    width: 550px;
}
#addProjectModal .modal-content {
    width: 550px;
}

#editProjectModal .modal-content {
    width: 550px;
}

#editMemberModal .modal-content {
    width: 550px;
}
#addMemberModal .modal-content {
    width: 400px;
    .modal-header, p {
    margin-bottom: 1rem;
}
}
#removeProjectModal .modal-content {
    width: 400px;
    .modal-header, p {
    margin-bottom: 1rem;
}
}
.logotype {
    grid-area: logo;
    padding: 1rem 2rem;
    border-right: 1px solid var(--border200);
    span {
        display: none;
    }
}

@media(min-width: 768px) {
    .logotype {
        span {
        display: block;
    }
}
}
.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--border200);
    padding: 1rem;
    span {
    display: none;
}
}
@media(min-width: 768px) {
    .sidebar {
        span
{
    display: block;
}
}
}
.topbar {
    grid-area: topbar;
    border-bottom: 1px solid var(--border200);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    gap: 1rem;
}
.main {
    grid-area: main;
    padding: 2rem;
}

/* SIDEBAR CONTENT */
.sidebar-image {
    font-size: 1.6rem;
    font-family: var(--font-logo);
    color: var(--bodyDark);
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
        font-weight: var(--font-bold);
    }
}

/* TOPBAR CONTENT */
.search-form {
    display: flex;
    align-items:center;
    gap: .5rem;
}
.searchbar {
    width: 90%;
    position:relative;
    font:inherit;
    border-radius: .8rem;
    border: 1px solid var(--background-color);
    outline: none;
    padding: .4rem;
    background-color: var(--transparent);
    &:focus
    {
        border-radius: 0;
        border-bottom:1px solid var(--accent);
    }
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    border-radius: .8rem;
    border: 1px solid var(--border100);
    background-color: var(--surface);
    box-shadow: 0 0 10px var(--dropdown-boxshadow);
    padding: .5rem;
    right: 1rem;
    left: auto;
    top: 1.5rem;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    color: var(--bodyDark);
    font-weight: var(--font-semibold);

    p {
    margin-bottom: 0;
    }
}

.dropdown-header.settings {
        justify-content: start;
        gap: 1rem;
        border: none;
    }
.settings-text {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--bodyDark);
}
.dropdown-header-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    font-size: .7rem;
    font-weight: var(--font-bold);
    color: var(--white);
    background-color: var(--orange);
    border-radius: 50%;
    line-height: 1;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: .9rem;
    border-radius: .5rem;
    font-size: .9rem;
    &:hover
{
    background-color: var(--border100);
}
}
.dropdown-item-image * {
    width: 40px;
    aspect-ratio: 1;
}
.dropdown-item-header {
    color: var(--bodyDark);
    margin-right: 2rem;
    margin-bottom: 0;
}
.dropdown-item-footer {
    font-weight: var(--font-regular);
    color: var(--bodyLight);
    margin-bottom: 0;
}

.topbar-avatar {
    margin-left: .5rem;
}

/* MAIN CONTENT */
.main-title {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    .main-title {
        flex-direction: row;
        margin-bottom: 0;
    }
}
/* Horizontal Menu */
.main-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid var(--border200);
    font-weight: var(--font-bold);
    margin: 1rem 0;
}

.main-nav > .main-nav-item {
    position: relative;
    color: var(--bodyLight);
    margin-bottom: .5rem;

}
    .main-nav > .main-nav-item:hover,
    .main-nav > .main-nav-item:focus
    .main-nav > .main-nav-item.active {
        color: var(--accent);
    }

    .main-nav > .main-nav-item::after
    {
        content: "";
        position: absolute;
        left: 0;
        bottom: -9px;
        width: 100%;
        height: 3px;
        background-color: var(--accent);
        border-radius: 10px 10px 0 0;
        transform: scaleX(0);
        transition: var(--transition-time);
    }

    .main-nav > .main-nav-item:hover::after,
    .main-nav > .main-nav-item:focus::after,
    .main-nav > .main-nav-item.active::after {
        transform: scaleX(1);
    }


.main-content {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
}
.main-content-member {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
/* Card */
.main-content-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}
.main-content-item-member {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    padding: 1rem;
    width: 100%;
    min-height: 460px;
    overflow: hidden;    
}

/* Card Header */
.main-content-header {
    display: flex;
    align-content: center;
    gap: 1rem;
}
.main-member-title {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.main-member-title p{
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: .4rem .9rem;
    font-size: 13px;
    font-weight: var(--font-regular);
    background-color: var(--btn-gray-bg);
    border-radius: .8rem;
}
.main-content-image {
    height: 56px;
    aspect-ratio: 1;
    img {
    max-width: 100%;
}
}
.main-member-image {
    margin: 0 auto;
    margin-bottom: 1rem;
}
.main-content-title p {
    color: var(--bodyLight);
    font-size: 15px;
}
.main-content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    background-color: var(--bg-transparent);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: .4rem;
    &:hover
{
    background-color: var(--border200);
}
}
.main-content-icon .dropdown-item .edit {
    width: 100%;
    background-color: var(--bg-transparent);
    color: var(--bodyDark);
    i
{
    margin-right: .5rem;
}
}
.main-content-icon .dropdown-item .remove {
    width: 100%;
    background-color: var(--bg-transparent);
    color: var(--Red);
    margin-bottom: 0;
    i
{
    margin-right: .5rem;
}
}

/* Card Body */
.main-body {
    margin-bottom: 2rem;
    p
    {
        font-weight: var(--font-regular);
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}
.main-member-body p{
    text-align: center;
    font-size: .9rem;
    font-weight: var(--font-regular);
}
/* Card Footer */
.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice {
    padding: .5rem;
    border-radius: .8rem;
    font-size: 14px;
 

    &.notice-gray {
        background-color: var(--time-bg-gray);
        color: var(--time-text-gray);
    }
    &.notice-yellow {
        background-color: var(--time-bg-yellow);
        color: var(--time-text-yellow);
    }
    &.notice-red {
        background-color: var(--time-bg-red);
        color: var(--time-text-red);
    }
}
.main-footer-image * {
    height: 30px;
    aspect-ratio: 1;

    img {
        max-width: 100%;
    }
}

/*MAIN END*/