@model ProjectViewModel

<div id="addProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Add Project</h3>
            <button class="btn-exit" data-close="true">
                <i class="bi bi-x"></i>
            </button>
        </div>

        <form asp-controller="Project" asp-action="Add" enctype="multipart/form-data" method="post" novalidate>

            <input asp-for="FormData.MemberId" hidden />
            <input asp-for="FormData.StatusBool" hidden />

            <div class="image-previewer square">
                <img class="image-preview" src="">
                <input asp-for="FormData.ProjectImage"  class="hide"  accept="image/*">
            </div>


            <div class="shrink">
                <div class="input-group">
                    <label asp-for="FormData.ProjectName" class="form-label"></label>
                    <input asp-for="FormData.ProjectName" class="form-input" value="@Model?.FormData?.ProjectName">
                    <span asp-validation-for="FormData.ProjectName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="FormData.ClientName" class="form-label"></label>
                    <input asp-for="FormData.ClientName" class="form-input" value="@Model?.FormData?.ClientName">
                    <span asp-validation-for="FormData.ClientName"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="FormData.ProjectDescription" class="form-label"></label>
                <textarea asp-for="FormData.ProjectDescription" class="form-input input-large" contenteditable="true" value="@Model?.FormData?.ProjectDescription"></textarea>
                <span asp-validation-for="FormData.ProjectDescription"></span>
            </div>

            <div class="form-date">

                <div class="input-group">
                    <label asp-for="FormData.StartDate" class="form-label"></label>
                    <input asp-for="FormData.StartDate" class="form-input" value="@Model?.FormData?.StartDate">
                    <span asp-validation-for="FormData.StartDate"></span>
                </div>
                <div class="input-group">
                    <label asp-for="FormData.EndDate" class="form-label"></label>
                    <input asp-for="FormData.EndDate" class="form-input" value="@Model?.FormData?.EndDate">
                    <span asp-validation-for="FormData.EndDate"></span>
                </div>

            </div>

            <div class="input-group">
                <label asp-for="FormData.MemberId" class="form-label"></label>


                <div class="member-select">
                    <select asp-for="FormData.MemberId" asp-items="@Model?.MemberOptions" class="form-input">
                        <option value="0" disabled hidden selected>Select Member</option>
                    </select>
                </div>

                <span asp-validation-for="FormData.MemberId"></span>
            </div>

            <div class="input-group">
                <label asp-for="FormData.Budget" class="form-label"></label>
                <i class="bi bi-currency-dollar dollar-sign"></i>
                <input asp-for="FormData.Budget" class="form-input dollar" value="@Model?.FormData?.Budget">
                <span asp-validation-for="FormData.Budget"></span>
            </div>

            <button type="submit" class="btn btn-register-login">Create</button>

        </form>
    </div>
</div>
