@model ProjectViewModel

<div id="addMemberModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Add Member</h3>
            <button class="btn-exit" data-close="true">
                <i class="bi bi-x"></i>
            </button>
        </div>

        <form asp-controller="Project" asp-action="Add" enctype="multipart/form-data" method="post" novalidate>

            <input asp-for="UpdateFormData.Id" hidden />
            <input asp-for="UpdateFormData.SelectedMemberIdsRaw" id="UpdateFormData_SelectedMemberIds" hidden />


            <div class="input-group">
                <label asp-for="UpdateFormData.SelectedMemberIdsRaw" class="form-label"></label>
                <div id="add-member-tags" class="form-tag-select form-input">
                    <i class="bi bi-three-dots"></i>
                    <input id="add-member-tag-search" type="text" class="form-tag-input" placeholder="Add tag(s)..." />
                    <label for="add-member-tag-search"></label>
                    <div id="add-member-tag-search-results" class="search-results"></div>
                </div>
            </div>

            <button type="submit" class="btn btn-register-login">Save</button>

        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        initTagSelector({
            containerId: 'add-member-tags',
            inputId: 'add-member-tag-search',
            selectedInputIds: 'UpdateFormData_SelectedMemberIds',
            resultsId: 'add-member-tag-search-results',
            searchUrl: (query) => '@Url.Action("SearchTags", "Tags")' + '?term=' + encodeURIComponent(query),
            displayProperty: 'tagName',
            imageProperty: 'imageUrl',
            tagClass: 'user-tag',
            avatarFolder: '',
            emptyMessage: 'No tags found.',
            preselected: preSelectedTags
        });
    });
</script>