@model ProjectViewModel


<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Project</h3>
            <button class="btn-exit" data-close="true">
                <i class="bi bi-x"></i>
            </button>
        </div>

        <form asp-controller="Project" asp-action="Edit" enctype="multipart/form-data" method="post" novalidate>

            <input asp-for="UpdateFormData.Id" hidden>
            <input asp-for="UpdateFormData.SelectedMemberIdsRaw" id="UpdateFormData_SelectedMemberIds" hidden />

            <div class="image-previewer square">
                <img class="image-preview" src="">
                <input asp-for="UpdateFormData.ProjectImage" class="hide" accept="image/*">
            </div>


            <div class="shrink">
                <div class="input-group">
                    <label asp-for="UpdateFormData.ProjectName" class="form-label"></label>
                    <input asp-for="UpdateFormData.ProjectName" class="form-input" value="@Model?.UpdateFormData?.ProjectName">
                    <span asp-validation-for="UpdateFormData.ProjectName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="UpdateFormData.ClientName" class="form-label"></label>
                    <input asp-for="UpdateFormData.ClientName" class="form-input" value="@Model?.UpdateFormData?.ClientName">
                    <span asp-validation-for="UpdateFormData.ClientName"></span>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="UpdateFormData.ProjectDescription" class="form-label"></label>
                <textarea asp-for="UpdateFormData.ProjectDescription" class="form-input">@Model?.UpdateFormData?.ProjectDescription</textarea>
                <span asp-validation-for="UpdateFormData.ProjectDescription"></span>
                <div id="p-edit-wysiwyg-editor" class="wysiwyg-editor"></div>
                <div id="p-edit-wysiwyg-toolbar" class="wysiwyg-toolbar">
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-align" value=""></button>
                        <button class="ql-align" value="center"></button>
                        <button class="ql-align" value="right"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                </div>
            </div>

            <div class="form-date">

                <div class="input-group">
                    <label asp-for="UpdateFormData.StartDate" class="form-label"></label>
                    <input asp-for="UpdateFormData.StartDate" class="form-input" value="@Model?.UpdateFormData?.StartDate">
                    <span asp-validation-for="UpdateFormData.StartDate"></span>
                </div>
                <div class="input-group">
                    <label asp-for="UpdateFormData.EndDate" class="form-label"></label>
                    <input asp-for="UpdateFormData.EndDate" class="form-input" value="@Model?.UpdateFormData?.EndDate">
                    <span asp-validation-for="UpdateFormData.EndDate"></span>
                </div>

            </div>


            <div class="input-group">
                <label asp-for="UpdateFormData.SelectedMemberIdsRaw" class="form-label"></label>
                <div id="edit-project-tags" class="form-tag-select form-input">
                    <i class="bi bi-three-dots"></i>
                    <input id="edit-project-tag-search" type="text" class="form-tag-input" placeholder="Add tag(s)..." />
                    <label for="edit-project-tag-search"></label>
                    <div id="edit-project-tag-search-results" class="search-results"></div>
                </div>
            </div>

            <div class="input-group">
                <label asp-for="UpdateFormData.Budget" class="form-label"></label>
                <i class="bi bi-currency-dollar dollar-sign"></i>
                <input asp-for="UpdateFormData.Budget" class="form-input dollar" value="@Model?.UpdateFormData?.Budget">
                <span asp-validation-for="UpdateFormData.Budget"></span>
            </div>

            <div class="terms">
                <input asp-for="UpdateFormData.IsCompleted" type="checkbox"><span>This project is completed</span>
            </div>

            <button type="submit" class="btn btn-register-login">Update</button>

        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const preSelected = []


        initTagSelector({
            containerId: 'edit-project-tags',
            inputId: 'edit-project-tag-search',
            selectedInputIds: 'UpdateFormData_SelectedMemberIds',
            resultsId: 'edit-project-tag-search-results',
            searchUrl: (query) => '@Url.Action("SearchTags", "Tags")' + '?term=' + encodeURIComponent(query),
            displayProperty: 'tagName',
            imageProperty: 'imageUrl',
            tagClass: 'user-tag',
            avatarFolder: '',
            emptyMessage: 'No tags found.',
            preselected: preSelected
        });
    });
</script>
@await Html.PartialAsync("_WysiwygEditScripts")
@await Html.PartialAsync("_ValidationScripts")