@model Project
<div class="surface main-content-item">

    <div class="main-content-header">
        <div class="main-content-image">
            <img src="@Model.ProjectImagePath" alt="Project image">
        </div>
        <div class="main-content-title">
            <h6>@Model?.ProjectName</h6>
            <p>@Model?.ClientName</p>
        </div>

        <div class="main-content-icon dropdown">
            <button class="main-content-icon" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">

                <li class="dropdown-item">
                    <a data-modal="true" data-target="#editProjectModal" data-id="@Model?.Id" class="edit">
                        <i class="bi bi-pencil-fill"></i>
                        <span>Edit</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a  data-id="@Model?.Id" class="edit">
                        <i class="bi bi-person-plus-fill"></i>
                        <span>Add Member</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a data-modal="true" data-target="#removeProjectModal" data-id="@Model?.Id" class="remove">
                        <i class="bi bi-trash-fill"></i>
                        <span>Delete Project</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="main-body">
        <p>@Model?.ProjectDescription</p>
    </div>

    <div class="main-footer">

        <div class="main-footer-time">
            <i class="bi bi-clock"></i>
            <span>1 week left</span>
        </div>

        <div class="main-footer-image flex">
            <img src="@(string.IsNullOrEmpty(Model?.ProfileImagePath) ? "/Images/avatar-orange.svg" : Model.ProfileImagePath)" alt="Profile image of member">
        </div>

    </div>
</div>

