
<div>
    <i class="bi bi-search"></i>
    <input class="searchbar" type="text" placeholder="Search anything...">
</div>
<div class="flex">
    <i class="bi bi-bell"></i>
    <i class="bi bi-gear"></i>
    <img class="topbar-avatar" src="images/avatar-orange.svg" alt="">
</div>
