@{
	<aside class="sidebar">
		<div class="sidebar-image">
			<img src="images/alpha-light-logo.svg" class="logo">
		</div>
		<button class="btn btn-project"><i class="bi bi-suitcase-lg-fill"></i>Projects</button>
	</aside>
}
