@{
    <nav class="topbar">
        <div>Search</div>
        <div class="flex">
            <i class="bi bi-bell"></i>
            <i class="bi bi-gear"></i>
            <img src="images/avatar-orange.svg" alt="">
        </div>
    </nav>
}
