@{
    var loggedinUser = await memberService.GetOneMemberAsync(User);
    string imgPath = loggedinUser.ProfileImagePath ?? "~/images/avatar-orange.svg";
    string loginName = $"{loggedinUser.FirstName} {loggedinUser.LastName}" ?? "Guest";
}
<div class="dropdown">
    <button class="btn-dropdown" data-type="dropdown" data-target="#profile-dropdown">
        <i class="bi bi-gear"></i>
    </button>
    <ul id="profile-dropdown" class="dropdown-menu">

        <li class="dropdown-header dropdown-item settings">
            <div class="dropdown-item-image">
                <img src="@imgPath" alt="Profile-Image">
            </div>
            <p class="dropdown-item-header">@loginName</p>
        </li>
        <li class="divider"></li>

        <li class="dropdown-item">
            <div class="settings-text">
                <i class="bi bi-moon"></i>
                <span>Dark Mode</span>
            </div>

            <div class="btn-toggle-switch">
                <label for="darkmode-switch" class="toggle-switch">
                    <input id="darkmode-switch" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </li>
		<li class="dropdown-item">
            <a class="settings-text" onclick="openCookieModal()">
                <i class="bi bi-cookie"></i>
				<span>Cookies</span>
            </a>
		</li>
        <li class="divider"></li>
        <li class="dropdown-item">
            <a asp-action="Logout" asp-controller="Auth" class="settings-text">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</div>