@model Project

<div class="surface main-content-item">

    <div class="main-content-header">
        <div class="main-content-image">
            <img src="~/@Model.ProjectImagePath" alt="Project image">
        </div>
        <div class="main-content-title">
            <h6>@Model?.ProjectName</h6>
            <p>@Model?.ClientName</p>
        </div>

        <div class="main-content-icon dropdown">
            <button class="main-content-icon" data-type="dropdown" data-target="#dropdown-@Model?.Id.ToString()">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul id="dropdown-@Model?.Id.ToString()" class="dropdown-menu">

                <li class="dropdown-item">
                    <a data-modal="true" data-target="#editProjectModal" data-id="@Model?.Id" class="edit">
                        <i class="bi bi-pencil-fill"></i>
                        <span>Edit</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a data-modal="true" data-target="#addMemberModal" data-id="@Model?.Id" class="edit">
                        <i class="bi bi-person-plus-fill"></i>
                        <span>Add Member</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-item">
                    <a data-modal="true" data-target="#removeProjectModal" data-id="@Model?.Id" class="remove">
                        <i class="bi bi-trash-fill"></i>
                        <span>Delete Project</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="main-body">
        <p>@Html.Raw(Model?.ProjectDescription)</p>
    </div>

    <div class="main-footer">

        <div class="notice">
            <i class="bi bi-clock"></i>
            <span class="time-left" data-start="@Model?.StartDate.ToString("s")" data-end="@Model?.EndDate.ToString("s")"></span>
        </div>

        <div class="main-footer-image flex">
			@foreach (var member in Model!.Members)
			{
                @if (!string.IsNullOrWhiteSpace(member.ProfileImagePath))
                {
                    <img src="~/@member.ProfileImagePath" alt="Profile Image" />
                }
                else
                {
                    <img src="~/images/avatar-green.svg" alt="Default Profile-Image" />
                }
			}
            
        </div>

    </div>
</div>

