<nav class="nav-links">

    <a class="nav-link @(Context.Request.Path == "/dashboard" ? "active": "")" asp-controller="Admin" asp-action="Index">
        <i class="bi bi-columns-gap"></i>
        <span>Dashboard</span>
    </a>

    <a class="nav-link @(Context.Request.Path == "/projects" ? "active": "")" asp-controller="Project" asp-action="Index">
        <i class="bi bi-suitcase-lg"></i>
        <span>Projects</span>
    </a>

    <a class="nav-link @(Context.Request.Path == "/members" ? "active": "")" asp-controller="Member" asp-action="Index">
        <i class="bi bi-people"></i>
        <span>Team Members</span>
    </a>

</nav>