@{
	var loggedinUser = await memberService.GetOneMemberAsync(User);
	var imgPath = loggedinUser.ProfileImagePath ?? "~/images/avatar-orange.svg";
}
<form class="search-form" asp-controller="" asp-action="" method="get" novalidate>
    <i class="bi bi-search"></i>
    <input class="searchbar" type="search" placeholder="Search anything...">
</form>

<partial name="Partials/Notification/_NotificationDropdownPartial" />
<partial name="Partials/Profile/_ProfileDropdownPartial" />

<div class="divider-verticle"></div>
<div class="dropdown-item-image">
    <img class="topbar-avatar" src="@imgPath" alt="Profile-Image">
</div>


