
<form class="search-form" asp-controller="" asp-action="" method="get" novalidate>
    <i class="bi bi-search"></i>
    <input class="searchbar" type="search" placeholder="Search anything...">
</form>

<partial name="Partials/Notification/_NotificationDropdownPartial" />
<partial name="Partials/Profile/_ProfileDropdownPartial" />

<img class="topbar-avatar" src="~/images/avatar-orange.svg" alt="">

